<!DOCTYPE html>
<html lang="en">
	<head>
		<title>pAwlert</title>
		<meta charset="UTF-8">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	</head>
	<body>

    {{#if logged_in}}
        <div class="container">
            <div class="row text-center" id ="holder">
                {{#each pets}}
                    <div class="col-sm-6 col-md-4">
                        <div class ="thumbnail">
                            <img src="{{link}}" id="thumbimg">
                            <div class = "caption">
                                <h2>{{name}}</h2>
                                <h3>{{date}}</h3>
                                <p>{{breed}}</p>
                                <p><a href="/readmore/{{name}}"><button class="btn btn-primary">Read More</button></a></p>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    {{/if}}

		{{{ body }}}
	</body>
</HTML>